# Data Cleaning

In [1]:
import numpy as np
import pandas as pd

train_df = pd.read_csv("../../data/raw/train.csv")
test_df = pd.read_csv("../../data/raw/test.csv")

In [19]:
trainset_df = train_df.dropna(subset=["Age","Annual Income","Marital Status","Number of Dependents","Health Score","Customer Feedback","Vehicle Age","Insurance Duration"])
trainset_df  = trainset_df.drop(columns=["id","Occupation","Previous Claims","Credit Score","Policy Start Date"])
trainset_df = trainset_df.reset_index(drop=True)

print(trainset_df.shape)
trainset_df.head(10)

(893183, 16)

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Health Score,Location,Policy Type,Vehicle Age,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,19.0,Female,10049.0,Married,1.0,Bachelor's,22.598761,Urban,Premium,17.0,5.0,Poor,No,Weekly,House,2869.0
1,39.0,Female,31678.0,Divorced,3.0,Master's,15.569731,Rural,Comprehensive,12.0,2.0,Average,Yes,Monthly,House,1483.0
2,23.0,Male,25602.0,Divorced,3.0,High School,47.177549,Suburban,Premium,14.0,3.0,Good,Yes,Weekly,House,567.0
3,21.0,Male,141855.0,Married,2.0,Bachelor's,10.938144,Rural,Basic,0.0,1.0,Poor,Yes,Daily,Apartment,765.0
4,21.0,Male,39651.0,Single,1.0,Bachelor's,20.376094,Rural,Premium,8.0,4.0,Poor,Yes,Weekly,House,2022.0
5,29.0,Male,45963.0,Married,1.0,Bachelor's,33.053198,Urban,Premium,4.0,5.0,Average,No,Weekly,House,3202.0
6,48.0,Female,127237.0,Divorced,2.0,High School,5.769783,Suburban,Comprehensive,11.0,5.0,Average,No,Rarely,Condo,111.0
7,21.0,Male,1733.0,Divorced,3.0,Bachelor's,17.869551,Urban,Premium,10.0,8.0,Average,No,Monthly,Condo,213.0
8,44.0,Male,52447.0,Married,2.0,Master's,20.473718,Urban,Comprehensive,9.0,3.0,Poor,No,Daily,Condo,64.0
9,23.0,Male,30983.0,Single,3.0,Master's,5.813129,Urban,Premium,6.0,8.0,Good,No,Rarely,Condo,1447.0

In [20]:
trainset_df.isna().sum()

Age                     0
Gender                  0
Annual Income           0
Marital Status          0
Number of Dependents    0
Education Level         0
Health Score            0
Location                0
Policy Type             0
Vehicle Age             0
Insurance Duration      0
Customer Feedback       0
Smoking Status          0
Exercise Frequency      0
Property Type           0
Premium Amount          0
dtype: int64

In [22]:
trainset_df.to_csv("../../data/processed/train_data_cleaned.csv", index=False)

- Se eliminaron los valores faltantes de las columnas "Age","Annual Income","Marital Status","Number of Dependents","Health Score","Customer Feedback","Vehicle Age","Insurance Duration".
- Se eliminaron las siguientes columnas debido a tener gran cantidad de datos faltantes "id","Occupation","Previous Claims","Credit Score"
- Se elimino la siguiente columna "Policy Start Date" en versiones posteriores se planea realizar un mejor análisis.